<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FarmSarthi</title>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dgyixpzvl/image/upload/v1752250625/FarmSarthi_Short_Logo_vslfiy.png" />
    <link rel="stylesheet" href="css/stylehomepage2.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Figtree"
    />
  </head>
  <body>
    <%- include("component/navbar.ejs") %>

    <main class="main-content">
      <div class="container">
        <section class="hero-banner trending-banner">
          <div class="trending-content">
            <span class="tag">TRENDING NOW</span>
            <h2>
              Basmati Rice: The Star Crop <br />
              Kothri Kalan!
            </h2>
            <p>
              High demand and excellent prices. Secure your yield today for
              maximum profit.
            </p>
            <a href="#basmati-rice" class="btn-primary"
              >View Basmati Rice Details</a
            >
          </div>
        </section>

        <section class="product-category" id="crops">
          <div class="product-category-title">
            <h3>Popular Crops</h3>
            <h5>View all</h5>
          </div>
          <div class="product-grid horizontal-scroll">
            <% for(product of data){ %> <% if(product.category == "Crop"){ %>
              <a href="/product/<%= product._id %>">
            <div class="product-card" id="basmati-rice">
              <img src="<%= product.gallery[0] %>" alt="Basmati Rice" />
              <div class="product-info">
                <h4 class="product-title"><%= product.name %></h4>
                <p class="product-description">
                  <%= product.description.slice(0, 80) %>...
                </p>
                <div class="product-price">
                  ₹ <%= product.price %><span class="unit">/Quintal</span>
                </div>
                <button class="btn-add-to-cart">Buy Now</button>
              </div>
            </div>
            </a>
            <% } %> <% } %>
          </div>
        </section>

        <section class="product-category" id="seeds">
          <div class="product-category-title">
            <h3>Premium Seeds</h3>
            <h5>View all</h5>
          </div>
          <div class="product-grid horizontal-scroll">
            <% for(product of data){ %> <% if(product.category == "Seed"){ %>
              <a href="/product/<%= product._id %>">
            <div class="product-card">
              <img src="<%= product.gallery[0] %>" alt="Paddy Seeds" />
              <div class="product-info">
                <h4 class="product-title"><%= product.name %></h4>
                <p class="product-description">
                 <%= product.description.slice(0, 80) %>...
                </p>
                <div class="product-price">
                  ₹ <%= product.price %><span class="unit">/10 kg</span>
                </div>
                <button class="btn-add-to-cart">Buy Now</button>
              </div>
            </div>
            </a>
            <% } %> <% } %>
          </div>
        </section>
      </div>
    </main>

    <%- include('component/footer.ejs') %>
    <script src="js/script.js"></script>
  </body>
</html>
